<h1>Edit post</h1>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" name="title" rows="3" [(ngModel)]="post.title" required>
    </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" id="content" name="content" rows="3" [(ngModel)]="post.content" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Edit Post</button>
  <a [routerLink]="['/post', post.id]" class="cancel-text">Cancel</a>
</form>
